html {
  font-size: 12px;
}

body {
  --color-dark-0: #000000;
  --color-dark-1: #111111;
  --color-dark-2: #222222;
  --color-light-1: #eeeeee;
  --color-light-2: #aaaaaa;
  background-color: var(--color-dark-1);
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  align-items: center;
  background-color: var(--color-dark-2);
  display: flex;
  flex: 0 0 14rem;
  flex-flow: column nowrap;
  justify-content: center;
  z-index: 1;
}

header h1 {
  color: var(--color-light-1);
  font: bold 5rem serif;
  margin: 0;
}

header h2 {
  color: var(--color-light-2);
  font: normal 3rem serif;
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  z-index: 1;
}

main h1 {
  color: var(--color-light-2);
  font: normal 4rem serif;
}

main ul {
  color: var(--color-light-1);
  font: bold 8rem serif;
  margin: 0;
}

svg {
  height: 125rem;
  left: calc(50vw - 62.5rem);
  pointer-events: none;
  position: absolute;
  top: 14rem;
  width: 125rem;
  z-index: 0;
}

ellipse, polygon {
  fill: var(--color-dark-0);
}
